In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('country_vaccination_stats.csv')
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

# Q4

In [4]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [5]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df.groupby('country')['daily_vaccinations'].transform('min'))

In [10]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [15]:
df[df.isna().any(axis=1)]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [16]:
df[df['country']=='Kuwait']

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [17]:
df['daily_vaccinations'].fillna(0,inplace=True)

In [27]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

# Q5

In [23]:
df.groupby('country')['daily_vaccinations'].median().sort_values(ascending=False).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

# Q6

In [28]:
df[df['date']=='1/6/2021']['daily_vaccinations'].sum()

1485255.0